@model List<GtRacingNews.ViewModels.Team.ViewAllTeamsViewModel>

<div class="row">
    @foreach (var team in Model)
    {
        <div class="card" style="width: 20rem; margin-left: 10px;">
            <img src="@team.LogoUrl" class="card-img-top" style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title"><strong>Name:</strong> @team.Name</h5>
                <h5 class="card-title"><strong>Car:</strong> @team.CarModel</h5>
                <h5 class="card-title"><strong>Drivers:</strong> @string.Join(", ", @team.Drivers)</h5>

                @if (this.User.IsInRole("Admin"))
                {
                    <a href="/Delete/DeleteTeam?id=@team.Id" class="btn btn-primary">Delete</a>
                }

            </div>
        </div>
    }
</div>

<link rel="stylesheet" href="~/css/TeamCss/All.css"></link>