<div class="box">
    <form method="post">
        <table style="height: 200px">

            <tr>
                <td>
                    <label>Name</label>
                </td>
                <td width="100px">
                    <input type="text" class="form-control" id="name" name="name" value="@Model.Name" />
                </td>
            </tr>

            <tr>
                <td>
                    <label for="carModel">CarModel</label>
                </td>
                <td width="300px">
                    <input type="text" class="form-control" id="carModel" name="carModel" value="@Model.CarModel" />
                </td>
            </tr>

            <tr>
                <td>
                    <label for="logoUrl">LogoUrl</label>
                </td>
                <td width="300px">
                    <input type="text" class="form-control" id="logoUrl" name="logoUrl" value="@Model.LogoUrl"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="championshipName">ChampionshipName</label>
                </td>
                <td>
                    <select name="championshipName" id="championshipName">
                        @foreach (var championship in @Model.Championships)
                        {
                            <option value="@championship.Name">@championship.Name</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Submit</p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>

        </table>
    </form>
</div>

<link rel="stylesheet" href="~/css/TeamCss/AddTeam.css"></link>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="~/js/OpenSideMenu.js"></script>
<script src="~/js/CloseSideMenu.js"></script>